.navbar1{display: flex;width: 100%; background-color: blue; color: white; padding: 10px; font-family: 'Rubik', sans-serif; box-shadow: 0px 0px 2px 0px black;}
.lo{margin-left: 50% ; margin-top: 5px;}
h2,h4,.btn {margin-left: 5%;box-shadow: 2 2 2 2 black;}
.btn{background-color: black; border-radius: 0px; color:white;font-family: 'Rubik', sans-serif;}
.st{background-color: black;}
.nav1{display: flex;}
p{margin-left: 10px; color: white; font-family: 'Rubik', sans-serif;}
.fotter1{background-color: black; padding: 70px; margin-top: 100px;}
.icons1{display: flex;}
.icons2 img, .icons3 img{height: 35px; margin-left: 20px;}
.icons3{margin-left: 60%;}