<div class="navbar1">
  <h2>DEMO Streaming</h2>
  <h4 class="lo">Login</h4>
  <div class="btn btn-button">Start your free trial</div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
<div class="fotter1">
  <div class="nav1">
    <p>Home</p>
    <p>|</p>
    <p>Terms and Conditions</p>
    <p>|</p>
    <p>Privacy Policy</p>
    <p>|</p>
    <p>Collection Statement</p>
    <p>|</p>
    <p>Help</p>
    <p>|</p>
    <p>Manage Account</p>
  </div>
  <div class="copy">
    <p>CopyRight C 2016 DEMO Streaming. All Rights Reserved.</p>
  </div>
  <div class="icons1">
    <div class="icons2">
      <img src="../assets/social/facebook-white.svg">
      <img src="../assets/social/twitter-white.svg">
      <img src="../assets/social/instagram-white.svg">
    </div>
    <div class="icons3">
      <img class="ub" src="../assets/store/app-store.svg" alt="">
      <img src="../assets/store/play-store.svg" alt="">
      <img src="../assets/store/windows-store.svg" alt="">
    </div>
  </div>
