.container1{width: 100%;}
.titulos h2{color: white; margin-left: 5%;font-family: 'Rubik', sans-serif;}
.titulos{background-color: rgb(61, 61, 61); padding: 10px;}
.containerp{display: flex;}
.series, .peliculas{border: solid black; margin-left: 100px; margin-top: 100px;background-color: black;height: 350px;}
.series img, .peliculas img{position: relative;width: 100%; margin-top: 100px;}
.series h2, .peliculas h2{position: absolute; color: white; top: 370px; left: 185px; font-family: 'Rubik', sans-serif;}
.peliculas h2{left: 540px;}
.nombres{display: flex;}
.s{margin-left: 8%; font-family: 'Rubik', sans-serif;}
.p{margin-left: 10%; font-family: 'Rubik', sans-serif;}
