<div class="container1">
  <div class="titulos">
    <h2>Popular Title</h2>
  </div>
  <div class="containerp">
    <div class="series" routerLink="/series">
      <img src="../../../assets/placeholder.png" alt="">
      <h2 class="series1">SERIES</h2>
    </div>
    <div class="peliculas" routerLink="/peliculas">
      <img src="../../../assets/placeholder.png" alt="">
      <h2 class="peliculas1">MOVIES</h2>
    </div>
  </div>
  <div class="nombres">
    <h4 class="s">Popular Series</h4>
    <h4 class="p">Popular Peliculas</h4>
  </div>
</div>
